    html, body {
    padding: 0px;
    margin: 0px;
    background: #0A001D;
    color: #FFF;
    height: 100%;
  }
  .btn {
    position: fixed;
    top: 2rem;
    right: 5rem;
    z-index: 10;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    background-color: white;
    transition: background 0.1s ease-in-out;
  }

  .btnOpen:hover {
    background-color: #fff;
  }
  
  .btnClose {
    z-index: 9;
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
    opacity: 0;
  }
  .btnClose:hover {
    background-color: white;

  }
  
  .navi {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 8rem 0 0;
    list-style: none;
    background-color: white;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  a:link {
    text-decoration: none;
    color: #0A001D;
  }
  a:visited{
      text-decoration: none;
      color: #0A001D;
  }
  a:active{
      text-decoration: none;
      color: #0A001D;
  }
  a:hover{
      text-decoration: none;
      color: #0A001D;
  }
  a::after{
      text-decoration: none;
      color: #0A001D;
  }
  .list {
    position: relative;
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Shadows Into Light', cursive;
    color: #0A001D;
    font-size: 24px;
    padding: 2rem 0 2rem 4rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    transition: background 0.2s ease-in;
  }

  #log{
    position: relative;
    font-family: 'Baloo Bhai', cursive;
    float: left;
    font-size: 18px;
    /* list-style: none; */
    padding: 4rem 0 2rem 4rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
     transition: background 0.2s ease-in;
  }

  h3{
      text-align: center;
  }