@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: .4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: Cardo;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Pathway Gothic One", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: .3s all .2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: Cardo;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}


  /* reset */
  .menu * {margin:0; padding:0}
  ul, li {list-style:none}
  .menu a {text-decoration:none}
  .clearfix {*zoom:1}
  .clearfix:before, clearfix:after {display:block; content:''; line-height:0}
  .clearfix:after {clear:both}
  
  /* */
  /* .navi {
    display: none;
  } */
  .btn {
    position: fixed; right: 10px; top: 10px;
    width: 50px; height: 50px; cursor: pointer; z-index: 100; 
  }
  
  .btn .bars {float: right; width: 40px; height:40px; position: relative; margin-right:24px; margin-top:12px;}
  .btn .bars .bar {position: absolute; width: 40px; height: 4px; background-color: #fff; margin: 5px 0;}
  .btn .bars .bar.one {top:0; left: 0;}
  .btn .bars .bar.two {top: 10px; left: 0;}
  .btn .bars .bar.three {top: 20px; left: 0;}
  
  .menu {
  /* 	background: #de4152; */
    background: black; height: 100vh; width: 100%;
    opacity: 3;
    height: 100vh;
    position: fixed; left: 0; top: 0; width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease-in-out;
  }
  .main-nav {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-nav ul:hover a {opacity: 0.3}
  .main-nav ul a {transition: opacity 0.3s ease-in-out;}
  .main-nav ul a:hover {opacity:1}
  .main-nav a {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
    padding: 0.4em;
    display: block;
  }
  .menu.active {
    opacity: 1;
    visibility: visible;
  }
  .menu.active li {animation: bounceInLeft 1s 1 both;}
  .menu.active li:nth-child(1){animation-delay: 0.1s}
  .menu.active li:nth-child(2){animation-delay: 0.2s}
  .menu.active li:nth-child(3){animation-delay: 0.3s}
  .menu.active li:nth-child(4){animation-delay: 0.4s}
  .menu.active li:nth-child(5){animation-delay: 0.5s}
  .menu.active li:nth-child(6){animation-delay: 0.6s}
  
  @keyframes fadeInUp {
    0% {opacity: 0; transform: translateY(100%);}
    100% {opacity: 1; transform: translateY(0);}
  }
  @keyframes rubberBand {
    0% {transform: scale3d(1,1,1)}
    30% {transform: scale3d(1.25,0.75,1)}
    40% {transform: scale3d(0.77,1.25,1)}
    50% {transform: scale3d(1.15,0.85,1)}
    65% {transform: scale3d(0.95,1.05,1)}
    75% {transform: scale3d(1.05,0.95,1)}
    100% {transform: scale3d(1,1,1)}
  }
  @keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
      transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
    }
    0% {opacity: 0; transform: translate3d(-3000px,0,0)}
    60% {transform: translate3d(25px,0,0); opacity: 1;}
    75% {transform: translate3d(-10px,0,0)}
    90% {transform: translate3d(5px,0,0)}
    100% {transform: none;}
  }