    html, body {
    padding: 0px;
    margin: 0px;
    background: #0A001D;
    color: #FFF;
    height: 100%;
  }
    html{
      width: 1440px;
      height: 900px;
    }
    #first {
    background: none;
    margin: auto;
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
   
  /* #first::before{
    position: absolute;
    color: #0ff;
    z-index: -1;
  }
  #first::after{
    position: absolute;
    color: #f0f;
    z-index: -2;
  } */

  /* .btn {
    position: fixed;
    top: 2rem;
    right: 5rem;
    z-index: 10;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    background-color: white;
    transition: background 0.1s ease-in-out;
  } */

  #second video{
    position: absolute;
    top: 0px;
    left: 0px;
    /* width: 887.2px; */
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
    transform: translate(0px, 1000px) translateZ(0px);
}

  /* .menu #log{
    position: relative;
    font-family: 'Baloo Bhai', cursive;
    float: left;
    font-size: 10px;
    list-style: none;
    padding: 4rem 0 2rem 4rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  } */

  /* #log:not(:last-of-type)::after {
      content: "|";
      color: gainsboro;
    } */
/* 
  footer{
    width: 675.950px;
    height: 76.800px;
    display: block;
    line-height: 38.872px;
    transform: translate(0px, 2000px) translateZ(0px);
    -webkit-font-smoothing: antialiased;

  } */

  /* reset */
.menu * {margin:0; padding:0;}
ul, li {list-style:none}
.menu a {text-decoration:none}
.clearfix {*zoom:1}
.clearfix:before, clearfix:after {display:block; content:''; line-height:0}
.clearfix:after {clear:both}

/* */
/* .navi {
  display: none;
} */
.btn {
	position: fixed; right: 10px; top: 10px;
	width: 50px; height: 50px; cursor: pointer; z-index: 100; 
}

.btn .bars {float: right; width: 40px; height:40px; position: relative; margin-right:24px; margin-top:12px;}
.btn .bars .bar {position: absolute; width: 40px; height: 4px; background-color: #fff; margin: 5px 0;}
.btn .bars .bar.one {top:0; left: 0;}
.btn .bars .bar.two {top: 10px; left: 0;}
.btn .bars .bar.three {top: 20px; left: 0;}

.menu {
/* 	background: #de4152; */
  background: black; height: 100vh; width: 100%;
	opacity: 3;
	height: 100vh;
	position: fixed; left: 0; top: 0; width: 100%;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease-in-out;
}
.main-nav {
  text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.main-nav ul:hover a {opacity: 0.3}
.main-nav ul a {transition: opacity 0.3s ease-in-out;}
.main-nav ul a:hover {opacity:1}
.main-nav a {
	color: #fff;
  font-family: 'Amatic SC', cursive;
	font-size: 45px;
	padding: 0.4em;
	display: block;
}
.menu.active {
	opacity: 1;
	visibility: visible;
}
.menu.active li {animation: bounceInLeft 1s 1 both;}
.menu.active li:nth-child(1){animation-delay: 0.1s}
.menu.active li:nth-child(2){animation-delay: 0.2s}
.menu.active li:nth-child(3){animation-delay: 0.3s}
.menu.active li:nth-child(4){animation-delay: 0.4s}
.menu.active li:nth-child(5){animation-delay: 0.5s}
.menu.active li:nth-child(6){animation-delay: 0.6s}

@keyframes fadeInUp {
	0% {opacity: 0; transform: translateY(100%);}
	100% {opacity: 1; transform: translateY(0);}
}
@keyframes rubberBand {
	0% {transform: scale3d(1,1,1)}
	30% {transform: scale3d(1.25,0.75,1)}
	40% {transform: scale3d(0.77,1.25,1)}
	50% {transform: scale3d(1.15,0.85,1)}
	65% {transform: scale3d(0.95,1.05,1)}
	75% {transform: scale3d(1.05,0.95,1)}
	100% {transform: scale3d(1,1,1)}
}
@keyframes bounceInLeft {
	0%, 60%, 75%, 90%, 100% {
		transition-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
	}
	0% {opacity: 0; transform: translate3d(-3000px,0,0)}
	60% {transform: translate3d(25px,0,0); opacity: 1;}
	75% {transform: translate3d(-10px,0,0)}
	90% {transform: translate3d(5px,0,0)}
	100% {transform: none;}
}